.person-item {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.person-item > * {
  margin-right: 1rem;
}

.success {
  background-color: darkseagreen;
  color: darkgreen;
  border: 0.3rem solid darkgreen;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.error {
  background-color: coral;
  color: brown;
  border: 0.3rem solid red;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
